<link rel="stylesheet" type="text/css" href="../css/detail.css">
<% include header.html %>
  <div class="detail-content">
		<div class="detail-wrapper">
			<div class="recent-acitive">
				<div class="recent-head cf">
					<h3>
						<span class='recent-label'></span>
						挥挥手,不说再见
					</h3>
				</div>
			</div>
			<div class="recent-wrapper">
				<img src="../images/activity.detail.jpg">
			</div>
			<div class="recent-text">
				<h3>No.1 聚会前言</h3>
				<p>
				亲爱的同学们快快报名,放下所有的事回来聚会。如果只是想图个省心省事省力，那就失去聚会的意义，到时候一定会怨声载道，不欢而散。少花钱办好事，可以通过合理的支出、恰当的安排，在一天的短暂时间内达到促进全面交流和沟通的目的。一年就一次聚会，希望大家积极参与。
				</p>
				<h3>No.2 聚会安排</h3>
				<p>
					<strong>1、</strong>聚会时间地点：
						暂安排在2016年2月12日，共1天。聚会地点：暂定
				</p>
				<p><strong>2、</strong>策划人员:</p>
				<p><strong>3、</strong>参与人员:</p>
				<p><strong>4、</strong>聚会经费:</p>
				<p><strong>5、</strong>聚会要求:</p>
				<p><strong>6、</strong>聚会流程:</p>
				<h3>No.3 注意事项</h3>
				<p><strong>1、 </strong>大家答应会来就一定要信守承诺，到时早点赶到，千万不能出现出尔反尔的情况；</p>
				<p><strong>2、 </strong> 春节期间人流较多，大家出行要注意安全，更要有时间观念，不能误点误车；</p>
				<p><strong>3、</strong>
					难得聚首，切勿贪杯，大家把握自己酒量，喝酒不是主要，沟通才是重点。一年见一面，清茶淡水也是情。
				</p>
				<p><strong>4、 </strong>因大家大部分都已有工作，难得一聚，为保证聚会的顺利和有质的进行，请大家当天按组织上的安排行事，若有什么意见与建议在活动之前或之后提出；</p>
				<p><strong>5、 </strong>本次聚会费用不会太高，但也请同学们及时缴纳；</p>
				<h3 class="last-title">NO.4 写在后面的话</h3>
				<p>相聚总是太难，不可能所有的同学在这天都有空，但是这样的聚会机会一年比一年少，我还是希望大家尽量抽空赶来，聚会需要大家的参与和配合，更要大家共同出谋划策，把聚会办成功！</p>
				
			</div>
		</div>
	</div>
	<div class="join-list">
			<h3><span>聚会有你而精彩</span></h3>
			<div class="join-btn">
				<input type="button" value="我要报名" class="btn">
			</div>
			<p class="join-date">
				*报名时间截止于2016年2月10号
			</p>
	</div>
	<div class="footer">
		<p class="end-tags">
			<a href="/">返回首页</a>
			<a href="#">返回顶部</a>
		</p>
	</div>