<% include header.html %>
<link rel="stylesheet" type="text/css" href="/css/detail.css">
  <div class="detail-content">
		<div class="detail-wrapper">
			<div class="recent-acitive">
				<div class="recent-head">
					<h2>
						<span class='recent-label'></span>
						<%=activity.name %>
					</h2>
				</div>
			</div>
			<div class="recent-wrapper">
				<img src="/images/detail_activity_pic.jpg">
			</div>
			<div class="recent-text">
				<h3>No.1 聚会前言</h3>
				<p>
				同学们，为了能够让每位同学都能更方便的了解班级近况以及班级的一些活动聚会等。我们建立了这个班级网站，目前只是为了能够在聚会等活动方便通知和联系大家，后续我们会添加其它的功能。若大家有什么意见与建议可以通过班级群讨论。我们会根据大家的反馈来改善我们的班级网站。接下来关于本次的聚会，我们希望大家有时间的话都能够积极参与，如果只是想图个省心省事省力，那就失去聚会的意义，到时候一定会怨声载道，不欢而散。少花钱办好事，可以通过合理的支出、恰当的安排，在一天的短暂时间内达到促进全面交流和沟通的目的。一年就一次聚会，希望大家积极参与。
				</p>
				<h3>No.2 聚会安排</h3>
				<p>
          <%=activity.description %>
        </p>
				<h3>No.3 注意事项</h3>
				<ol>
					<li><p>大家答应会来就一定要信守承诺，到时早点赶到，千万不能出现出尔反尔的情况；</p></li>
					<li><p>春节期间人流较多，大家出行要注意安全，更要有时间观念，不能误点误车；</p></li>
					<li><p>难得聚首，切勿贪杯，大家把握自己酒量，喝酒不是主要，沟通才是重点。一年见一面，清茶淡水也是情。</p></li>
					<li><p>因大家大部分都已有工作，难得一聚，为保证聚会的顺利和有质的进行，请大家当天按组织上的安排行事，若有什么意见与建议在活动之前或之后提出；</p></li>
					<li><p>本次聚会费用不会太高，但也请同学们及时缴纳；</p></li>
				</ol>
				<h3 class="last-title">No.4 写在后面的话</h3>
				<p>相聚总是太难，不可能所有的同学在这天都有空，但是这样的聚会机会一年比一年少，我还是希望大家尽量抽空赶来，聚会需要大家的参与和配合，更要大家共同出谋划策，把聚会办成功！</p>
			</div>
		</div>
	</div>
	<div class="join-list">
			<p class="join-number">
				已有<i><%=participants.length %></i>人报名
			</p>
			<ul class="join-member">
        <% for(var i = 0;i < participants.length;i++){ %>
				<li><%=participants[i].User.name %></li>
        <% } %>
			</ul>
			<h3 class="join-title">聚会有你更精彩</h3>
			<div class="join-btn">
				<input type="button" value="我要<%=isJoined?'取消': '' %>报名" id="btn">
			</div>
			<p class="join-date">
				*报名时间截止于<%=dateFormat(activity.date, 'yyyy年MM月dd日') %>
			</p>
			<div id="join-msg">
		<p>聚会有你更精彩<br/>点击确定<%=isJoined?'取消': '立即' %>报名</p>
		<ul class="buttons cf">
			<li><a id="buttons-cancel" href="javascript:;">取消</a></li>
			<li>
        <form action="" method="POST">
          <button id="buttons-determine">确定</button>
        </form>
      </li>
		</ul>
	</div>
	</div>
<!-- 	<div id="top-scroll">
	<a id="top" href="#"><span>顶 部</span></a>
	<a id="page" href="/"><span>首 页</span></a>
</div> -->
  <% if(message){ %>
	<div id="box-msg"><%=message %></div>
	<div id="box-bg"></div>
  <% } %>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="/js/detail.js"></script>


