<!DOCTYPE html>
<html lang="ch-ZN">
<head>
  <meta charset="UTF-8">
  <title>班级聚会平台</title>
  <link rel="stylesheet" type="text/css" href="../css/header.css">
</head> 
<body>
  <div id="header">
    <div class="logo">
      <div class="logo-pic"></div>
      <h1 class="logo-title">Classmate party 2016</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a id="login-btn" href="/account/password">修改密码</a></li>
        <li><a id="activation-btn" href="/login">注销</a></li>
      </ul>
    </div>
  </div>
