<!DOCTYPE html>
<html lang="ch-ZN">
<head>
  <meta charset="UTF-8">
  <title>班级聚会平台</title>
  <link rel="stylesheet" type="text/css" href="../css/header.css">
  <script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
  <div class="header">
		<div class="nav">
			<div class="navwrap">
				<div class="logo">
					<h1>Classmate party 2016</h1>
				</div>
				<ul>
					<li class="bottom-right">
						<a href="/password">修改密码</a>
						<a href="/login">注销</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
