<!DOCTYPE html>
<html lang="ch-ZN">
<head>
  <meta charset="UTF-8">
  <title>班级聚会平台</title>
  <link rel="stylesheet" type="text/css" href="../css/login.css">
</head> 
<body>
  <div id="header">
    <div class="logo">
      <div class="logo-pic"></div>
      <h1 class="logo-title">Classmate party 2016</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a id="login-btn" href="#">登 录</a></li>
        <li><a id="activation-btn" href="#">激 活</a></li>
      </ul>
    </div>
  </div>
  <!-- Login page  -->
  <div id="wrapper-login">
    <h2 class="seating">高 2011 级 <em id="eight">8</em> 班 座 次 表</h2>
    <div class="login">
      <div class="section">
        <form id="form">
          <div class="form-item">
            <h2>快速登录</h2>
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="name" placeholder="手机号码/邮箱">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="password" placeholder="密码">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item clearfix">
            <div class="remember">
              <input class="input-checkbox" type="checkbox" id="remember">
              <label class="input-remember" for="remember">记住我</label>
              <div class="forget-key">
                <a href="#">忘记密码?</a>
              </div>
            </div>
          </div>
          <div class="form-item">
            <div class="form-submit" data-txt="登录"><a href="/">登录</a></div>
          </div>
          <p class="prompt"></p>
        </form>
      </div>
    </div>
  </div>
   <!-- Activate page -->
  <div class="activate clearfix">
    <div class="activate-wrapper clearfix">
      <div class="activate-list">
        <p>张三</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三</p>
      </div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
        <p>张三</p>
      </div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
      </div>
      <div class="activate-aisle"></div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三疯</p>
      </div>
      <div class="activate-list">
        <p class="nostyle"></p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三疯</p>
      </div>
      <div class="activate-list">
        <p class="nostyle"></p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三疯</p>
      </div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三疯</p>
      </div>
      <div class="activate-aisle"></div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
      </div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
      </div>
      <div class="activate-list">
        <p>张三疯</p>
        <p>张三疯</p>
        <p>张三</p>
        <p>张三</p>
        <p>张三疯</p>
      </div>
    </div>
    <div class="middle clearfix">
      <div class="ozone">
        <img src="../images/ozone-dither.gif">
      </div>
      <div class="earth">
        <img src="../images/earth-stand.png">
      </div>
      <div class="earth-text">
        <span class="dais">讲&nbsp &nbsp台</span>
      </div>
    </div>
  </div>
  <!-- register page -->
  <div class="register">
    <div class="login">
      <div class="section">
        <form id="form">
          <div class="form-item">
            <h2>激活账号</h2>
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="name" placeholder="真实姓名">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="name" placeholder="手机号码/邮箱">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="password" placeholder="密码">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="password" placeholder="确认密码">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <div class="register-form-submit" data-txt="激 活"><a href="#">激 活</a>  </div>
          </div>
          <p class="register-prompt"></p>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../js/login.js"></script>
</body>
</html>