<!DOCTYPE html>
<html lang="ch-ZN">
<head>
  <meta charset="UTF-8">
  <title>班级聚会平台</title>
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <link rel="stylesheet" type="text/css" href="/css/public.css">
</head>
<body>
  <div id="header">
    <div class="logo">
      <div class="logo-pic"></div>
      <h1 class="logo-title">Classmate party 2016</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a id="login-btn" href="#">登 录</a></li>
        <li><a id="activation-btn" href="#">激 活</a></li>
      </ul>
    </div>
  </div>
  <!-- Login page  -->
  <div id="wrapper-login">
    <div class="login">
      <div class="section">
        <form action="" method="POST" id="form">
          <div class="form-item">
            <h2>快速登录</h2>
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="mobile" placeholder="手机号码">
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="password" placeholder="密码">
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <div class="form-submit" data-txt="登录">
              <button>登录</button>
            </div>
          </div>
        </form>
      </div>
      <div class="prompt"><%=message %></div>
    </div>
  </div>
   <!-- Activate page -->
  <div class="activate clearfix">
    <div class="activate-wrapper clearfix">
      <% for(var i = 0;i < seats.length - 1;i++){ %>
      <% if(!seats[i].aisle){ %>
      <div class="activate-list">
        <% if(seats[i].platform){ %>
        <p class="nostyle"></p>
        <% } %>
        <% for(var j = 0;j < seats[i].members.length;j++){ %>
        <p data-id="<%=seats[i].members[j].id %>">
          <%=seats[i].members[j].name %>
        </p>
        <% } %>
      </div>
      <% }else{ %>
      <div class="activate-aisle"></div>
      <% }
      } %>
      <div class="activate-list" id="add-list" >
        <% for(i = 0;i < seats[seats.length - 1].members.length;i++){ %>
        <p data-id="<%=seats[seats.length - 1].members[i].id %>">
          <%=seats[seats.length - 1].members[i].name %>
        </p>
        <% } %>
      </div>
      <div class="notes">
        <h4>激活步骤</h4>
        <ol>
          <li><strong>#</strong>点击座位号 <strong>#</strong>输入你的真实姓名及相关资料 <strong>#</strong>确认激活</li>
          <li><strong>#</strong>不清楚座位号请参考群共享班级座次表文件 <strong>#</strong>最后一排为艺考生或不在座次表的同学名单</li>
        </ol>
      </div>
    </div>
    <div class="middle clearfix">
      <div id="class-name"><i>8</i></div>
      <div class="ozone">
        <img src="/images/earth_ozone_dither.gif">
      </div>
      <div class="earth">
        <img src="/images/earth_stand.png">
      </div>
      <div class="earth-text">
        <span class="dais">讲&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;台</span>
      </div>
    </div>
  </div>
  <!-- register page -->
  <div class="register">
    <div class="login">
      <div class="section">
        <form action="/activation" id="form" method="POST">
          <input type="hidden" name="id" id="user-id">
          <div class="form-item">
            <h2>激活账号</h2>
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="name" placeholder="真实姓名">
            <i class="icon"></i>
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="mobile" placeholder="手机号码">
            <i class="icon"></i>
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <input type="text" class="form-input" name="email" placeholder="邮箱">
            <i class="icon"></i>
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="password" placeholder="密码">
            <i class="icon"></i>
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <input type="password" class="form-input" placeholder="确认密码">
            <i class="icon"></i>
            <div class="bot-bar"></div>
          </div>
          <div class="form-item">
            <div class="register-form-submit">
              <button>激 活</button>
            </div>
          </div>
        </form>
      </div>
      <p class="register-prompt"><%=actMessage %></p>
    </div>
  </div>
  <% if(globalMessage){ %>
  <div id="box-msg"><%=globalMessage %></div>
  <div id="box-bg"></div>
  <% } %>
  <script type="text/javascript" src="/js/public.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
