<% include header.html %>
<link rel="stylesheet" type="text/css" href="/css/password.css">
<div class="content cf">
	<div class="password">
		<div class="section">
			<form id="form">
				<div class="form-item">
            <input type="password" class="form-input" name="oldkey" placeholder="原密码">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="newkey" placeholder="新密码">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <input type="password" class="form-input" name="confirm" placeholder="确认密码">
            <div class="bot-bar"></div>                  
          </div>
          <div class="form-item">
            <div class="revise-form-submit"><button id="revise-btn">修改密码</button></div>
          </div>
			</form>
		</div>
    <p class="revise-prompt"></p>
	</div>
</div>	
<div id="box-msg"></div>
<div id="box-bg"></div>
<script type="text/javascript" src="/js/public.js"></script>

