::selection {background:#B8860B; color:#fff;} 
::-moz-selection {background:#B8860B; color:#fff;} 
h1,h2,p,h3,h4,body,ul,div,li,input {
  margin: 0;
  padding: 0;
}
ul {list-style: none;}
a {
  text-decoration: none;
  transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  -webkit-transition: all ease-in-out .4s;
}
input {outline: none;}
.clearfix:after, .clearfix:before {
  clear: both;
  display: table;
  content: "";
  line-height: 0;
}
body {
  font:13px/22px Helvetica, Verdana, '微软雅黑', 'Microsoft YaHei', Arial;
  background: #ece9e5 url(../images/bg_top.gif) repeat;
}
#header {
  overflow: hidden;
  background: #649cc7 url(../images/bg_nav2.gif) repeat-x;
  box-shadow: 0px 3px 4px #000;
  margin-bottom: 2px;
}
#header .logo {float: left;}
.logo .logo-pic {
  float: left;
  background: url(../images/img_ribbon.gif) no-repeat 15px -8px;
  padding: 17px 0 0 52px;
  height: 33px;
}
.logo .logo-title {
  float: left;
  height: 53px;
  line-height: 53px;
  color: #fff;
  font-size: 33px;
  padding-left: 15px;
  text-shadow: 3px 3px 0 #083D67,4px 4px 0 rgba(21, 103, 162, 0.85);
}
#header .nav {
  float: right;
  padding-right: 16px;
}
.nav li {display: inline-block;}
.nav a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 0 12px;
  margin: 16px 8px;
  border-radius: 5px;
  box-shadow: 5px 3px 5px rgba(19, 17, 17, 0.5);
}
.nav a:hover {box-shadow: -5px 3px 5px rgba(19, 17, 17, 0.5);}
