::-moz-selection{background:#B8860B; color:#fff;} 
::selection {background:#B8860B; color:#fff;} 
body{
	background: #ece9e5 url(../images/bg_top.gif) repeat;
	font:13px/22px Verdana, '微软雅黑', 'Microsoft YaHei', Helvetica, Arial;
	margin-bottom: 30px;
}
h1,h2,p,h3,h4,body,ul{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.cf{
	clear: both;
}
.cf:after, .cf:before{
	clear: both;
	display: table;
	content: "";
	line-height: 0;
}
.nav{
	background: #649cc7 url(../images/bg_nav2.gif) repeat-x;
	height: 60px;
	box-shadow: 0px 3px 4px #000;
	margin-bottom: 2px;
}
.nav .navwrap{
	padding: 0 14px;
}
.nav .logo{
	background: url(../images/img_ribbon.gif) no-repeat 0 -8px;
	padding: 17px 0 0 52px;
	height: 33px;
	float: left;
}
.logo h1{
	color: #fff;
	font-size: 33px;
	text-shadow: 3px 3px 0 #083D67,4px 4px 0 rgba(21, 103, 162, 0.85);
}
.nav-bottom{
	font-size: 18px;
	min-width: 1024px;
	margin:  0 auto;
	height: 42px;
	background: #fafafa;
	border-bottom: 1px solid #f3f3f3;
}
.nav-wrapper{
	position: relative;
  width: 1024px;
  height: 42px;
  margin: 0 auto;	
}
.bottom-right a{
	display: inline-block;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
	padding:  0 3px;
	font-size: 18px;
	margin:  16px 10px;
}
.bottom-right a:hover{
	color: rgb(138, 19, 19);
}
.bottom-right{
	float: right;
	height: 60px;
}
