::selection {background:#B8860B; color:#fff;} 
::-moz-selection {background:#B8860B; color:#fff;} 
h1,h2,p,h3,h4,body,ul,div,li,input {
  margin: 0;
  padding: 0;
}
ul {list-style: none;}
a {
  text-decoration: none;
  transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  -webkit-transition: all ease-in-out .4s;
}
input{outline: none;}
.clearfix:after, .clearfix:before {
  clear: both;
  display: table;
  content: "";
  line-height: 0;
}
body {
  overflow: hidden;
  font:13px/22px Helvetica, Verdana, '微软雅黑', 'Microsoft YaHei', Arial;
  background: #ece9e5 url(../images/bg_top.gif) repeat;
}
#header {
  overflow: hidden;
  background: #649cc7 url(../images/bg_nav2.gif) repeat-x;
  box-shadow: 0px 3px 4px #000;
  margin-bottom: 2px;
}
#header .logo {float: left;}
.logo .logo-pic {
  float: left;
  background: url(../images/img_ribbon.gif) no-repeat 15px -8px;
  padding: 17px 0 0 52px;
  height: 33px;
}
.logo .logo-title {
  float: left;
  height: 53px;
  line-height: 53px;
  color: #fff;
  font-size: 33px;
  padding-left: 15px;
  text-shadow: 3px 3px 0 #083D67,4px 4px 0 rgba(21, 103, 162, 0.85);
}
#header .nav {
  float: right;
  padding-right: 16px;
}
.nav li {display: inline-block;}
.nav a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 0 12px;
  margin: 16px 8px;
  border-radius: 5px;
  box-shadow: 5px 3px 5px rgba(19, 17, 17, 0.5);
}
.nav a:hover {box-shadow: -5px 3px 5px rgba(19, 17, 17, 0.5);}

/* header end */

#wrapper-login {
  overflow: hidden;
  width: 100%;
  height: 620px;
  background: url(../images/login2.jpg) no-repeat 0 -150px fixed;
}
#wrapper-login .seating {
  position: relative;
  left: -177px;
  top: -30px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-shadow: 3px 3px 0 #083D67,5px 4px 0 rgba(21, 103, 162, 0.85);
}
#wrapper-login #eight {
  position: relative;
  z-index: 3;
  top: -100px;
}
#wrapper-login .login,.register .login {
  position: relative;
  left: 0;
  max-width: 320px;
  min-width: 240px;
  margin: 50px 20px 0 970px;
  color: #333;

}
.login .section {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 2px;
  padding: 32px 40px;
  box-shadow: 0px 7px 15px #333;
}
.form-item {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.form-item h2 {
  text-align: center;
  color: #5593C1;
  margin: 25px 0;
  font-size: 27px;
}
.form-item .form-input {
  margin: 8px 7px;
  font-size: 13px;
  border: none;
  outline: none;
  box-shadow: none;
}

.form-item .bot-bar {
  position: relative;
  height: 1px;
  width: 100%;
}
.bot-bar:before, .bot-bar:after {
  position: absolute;
  bottom: -1px;
  content: "";
  height: 1px;
  width: 0px;
  background-color: #5593C1;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
  transition: width ease-in-out .35s;
  -moz-transition: width ease-in-out .35s;
  -o-transition: width ease-in-out .35s;
  -webkit-transition: width ease-in-out .35s;
}
.bot-bar:before {left: 50%;}
.bot-bar:after {right: 50%;}
.form-item input:focus~.bot-bar:before {width: 50%;}
.form-item input:focus~.bot-bar:after {width: 50%;}
.form-item .input-checkbox {
  float: left;
  margin: 9px 3px 0 7px;
}
.form-item .remember {
  height: 32px;
  line-height: 32px;
}
.form-item .input-remember {
  float: left;
  color: #666;
}
.form-item .forget-key {overflow: hidden;}
.form-item .forget-key a {
  float: right;
  color: #666;
  padding: 1px 3px;
  height: 20px;
  line-height: 20px;
  margin-top: 6px;
  border-radius: 3px;
}
.form-item .forget-key a:hover {
  background: #6495ED;
  color: #fff;
}
.form-submit,.register-form-submit{
  position: relative;
  text-align: center;
  background-color: #617fde;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  color: aliceblue;
  letter-spacing: 2px;
  cursor: pointer;
  line-height: 26px;
  font-size: 18px;
  height: 26px;
  box-shadow: 0px 2px 3px #333;
  transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  -webkit-transition: all ease-in-out .25s;
}
.form-submit a,.register-form-submit a {
  display: inline-block;
  width: 100%;
  height: 26px;
  color: #fff;
}
.form-submit:hover,.register-form-submit:hover {background-color: #1b76c5;}
.form-submit:before,.form-submit:after,.register-form-submit:before,.register-form-submit:after {
  font-size: 15px;
  position: absolute;
  left: 0px;
  content: attr(data-txt);
  background-color: #3E81B5;
  width: 100%;
  letter-spacing: 2px;
  overflow: hidden;
  text-align: center;
  height: 18px;
}
.form-submit:after,.register-form-submit:after {
  bottom: 0px;
  line-height: 1px;
  transition: bottom ease-in-out .25s;
  -moz-transition: bottom ease-in-out .25s;
  -o-transition: bottom ease-in-out .25s;
  -webkit-transition: bottom ease-in-out .25s;
}
.form-submit:before,.register-form-submit:before {
  top: 0px;
  line-height: 37px;
  transition: top ease-in-out .25s;
  -moz-transition: top ease-in-out .25s;
  -o-transition: top ease-in-out .25s;
  -webkit-transition: top ease-in-out .25s;
}
.form-submit:hover:before,.register-form-submit:hover:before {top: -18px;}
.form-submit:hover:after,.register-form-submit:hover:after {bottom: -18px;}
.prompt,.register-prompt {
  width: 100%;
  height: auto;
  text-align: center;
  color: red;
  margin-top: -10px;
}

/* login end */

.activate {
  position: relative;
  top: 0;
  float: left;
  height: 480px;
  box-shadow: 0px 7px 15px #333;
  border: 1px solid rgba(218, 213, 213, 0.38);
  margin-left: 25px;
  background: url(../images/activate_bg.jpg) -120px;
}
.activate-wrapper {
  text-align: center;
  margin: 120px 60px;
}
.activate-list {float: left;}
.activate-list .nostyle {
  background: none;
  box-shadow: none;
}
.activate-aisle {
  float: left;
  width: 50px;
  height: 300px;
  margin-top: 10px;
}
.activate-list p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: rgba(25, 122, 154, 0.85);
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  cursor: pointer;
  margin: 8px;
  padding: 2px;
  box-shadow: 1px 2px 3px #333;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.activate-list p:hover {background: #DAA520;}
.middle {
  position: absolute;
  top: 0;
  left: 397px;
  width: 130px;
  height: 166px;
  overflow: hidden;
}
.ozone{
  position: absolute;
  top: 1px;
  left: 17px;
}
.ozone img{
  width: 90px;
  height: 90px;
}
.earth{
  position: absolute;
  top: -3px;
}
.earth img{
  width: 129px;
  height: 164px;
}
.earth-text{
  position: absolute;
  top: 113px;
}
.earth-text span{
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  width: 128px;
  height: 48px;
  line-height: 48px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #131111;
}

/* Activate end */

.register {
  overflow: hidden;
  position: relative;
  top: 0;
}
.register .login{
 float: right;
 width: 100%;
 margin: 10px 24px 20px 10px;
}

