::selection {background:#B8860B; color:#fff;}
::-moz-selection {background:#B8860B; color:#fff;}
h1,h2,p,h3,h4,body,ul,div,li,input {
  margin: 0;
  padding: 0;
}
ul {list-style: none;}
a {
  text-decoration: none;
  transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  -webkit-transition: all ease-in-out .4s;
}
input{outline: none;}
.clearfix:after, .clearfix:before {
  clear: both;
  display: table;
  content: "";
  line-height: 0;
}
html {
  height: 100%;
}
body {
  overflow: hidden;
  font:13px/22px Helvetica, Verdana, '微软雅黑', 'Microsoft YaHei', Arial;
  background: url(/images/login_bg.jpg) no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
#header {
  overflow: hidden;
  background: #649cc7 url(/images/header_nav.gif) repeat-x;
  box-shadow: 0px 3px 4px rgba(40, 65, 84, 0.7);
  margin-bottom: 2px;
}
#header .logo {float: left;}
.logo .logo-pic {
  float: left;
  background: url(/images/header_ribbon.gif) no-repeat 15px -8px;
  padding: 17px 0 0 52px;
  height: 33px;
}
.logo .logo-title {
  float: left;
  height: 53px;
  line-height: 53px;
  color: rgba(255, 255, 255, 0.98);
  font-size: 33px;
  padding-left: 15px;
  text-shadow: 0px -1px 2px #000;
}
#header .nav {
  float: right;
  padding-right: 16px;
}
.nav li {display: inline-block;}
.nav a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 0 12px;
  margin: 16px 8px;
  border-radius: 5px;
  box-shadow: 4px 3px 5px rgba(16, 60, 93, 0.6);
}
.nav a:hover {box-shadow: 2px 3px 5px rgba(13, 37, 56, 0.8);}

/* header end */

#wrapper-login {
  overflow: hidden;
  width: 100%;
  height: 620px;
}
#wrapper-login .login,.register .login {
  position: relative;
  left: 0;
  float: right;
  max-width: 320px;
  min-width: 240px;
  margin: 60px 25px 0 0;
  color: #333;
}
.login .section {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 2px;
  padding: 30px 35px;
  box-shadow: 0px 2px 7px rgba(26, 49, 68, 0.7);
}
.form-item {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 23px;
  border-bottom: 1px solid #ececec;
}
.form-item:last-child {
  border-bottom: none;
  margin: 45px 0 12px 0;
}
.form-item h2 {
  text-align: center;
  color: #5593C1;
  margin-bottom: 40px;
  font-size: 24px;
}
.form-item .icon {
  margin-left: 20px;
}
.form-item .form-input {
  width: 166px;
  margin: 8px 6px;
  font-size: 14px;
  color: #7B96AB;
  border: none;
  outline: none;
  box-shadow: none;
}
.form-item .bot-bar {
  position: relative;
  height: 1px;
  width: 100%;
}
.bot-bar:before, .bot-bar:after {
  position: absolute;
  bottom: -1px;
  content: "";
  height: 1px;
  width: 0px;
  background-color: #5593C1;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
  transition: width ease-in-out .35s;
  -moz-transition: width ease-in-out .35s;
  -o-transition: width ease-in-out .35s;
  -webkit-transition: width ease-in-out .35s;
}
.bot-bar:before {left: 50%;}
.bot-bar:after {right: 50%;}
.form-item input:focus {letter-spacing: 1px;}
.form-item input:focus~.bot-bar:before {width: 50%;}
.form-item input:focus~.bot-bar:after {width: 50%;}
.form-item .input-checkbox {
  float: left;
  margin: 12px 3px 0 7px;
}
.form-submit,.register-form-submit{
  position: relative;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #639BC6;
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  color: aliceblue;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.7);
  transition: all ease-in-out .25s;
  -moz-transition: all ease-in-out .25s;
  -o-transition: all ease-in-out .25s;
  -webkit-transition: all ease-in-out .25s;
}
.form-submit button,.register-form-submit button {
  display: inline-block;
  width: 100%;
  height: 26px;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.form-submit:hover,.register-form-submit:hover {background-color: #1b76c5;}
.prompt,.register-prompt {
  position: relative;
  top: -32px;
  width: 100%;
  height: auto;
  text-align: center;
  color: red;
}

/* login end */

.activate {
  position: relative;
  display: none;
  top: 0;
  float: left;
  box-shadow: 0px 3px 10px rgba(24, 39, 51, 0.8);
  border: 1px solid rgba(218, 213, 213, 0.38);
  margin-left: 2%;
  background: url(/images/activate_page_bg.jpg) -120px;
}
.activate-wrapper {
  text-align: center;
  margin: 120px 60px 20px;
}
.activate-list {float: left;}
#add-list {
  clear: both;
  float: none;
}
#add-list p {
  display: inline-block;
}
.activate-list .nostyle {
  opacity: 0;
  filter:alpha(opacity=0);
}
.activate-aisle {
  float: left;
  width: 50px;
  height: 250px;
  margin-top: 10px;
}
.activate-list p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(25, 122, 154, 0.85);
  width: 50px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 3px;
  cursor: pointer;
  margin: 8px;
  padding: 2px;
  box-shadow: 1px 2px 3px rgba(51, 51, 51, 0.8);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.activate-list p:hover {background: #DAA520;}
.middle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 130px;
  height: 166px;
  margin-left: -65px;
  overflow: hidden;
}
#class-name {
  position: absolute;
  top: 44px;
  left: 55px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 2px 3px #4C677B;
}
.notes h4 {
  font-size: 21px;
  color: #D43535;
  text-align: center;
  margin: 10px 0 5px;
}
.notes ol {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.notes li {
 color: #654848;
 line-height: 18px;
}
.notes strong {
  font-size: 20px;
  color: #D85959;
  margin: 3px;
}
.ozone{
  position: absolute;
  top: 1px;
  left: 17px;
}
.ozone img{
  width: 90px;
  height: 90px;
}
.earth{
  position: absolute;
  top: -3px;
}
.earth img{
  width: 129px;
  height: 164px;
}
.earth-text{
  position: absolute;
  top: 113px;
}
.earth-text span{
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
  color: #fff;
  width: 128px;
  height: 48px;
  line-height: 48px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #886464;
}
/* Activate end */

.register {
  overflow: hidden;
  display: none;
  position: relative;
  top: 0;
}
.register .login{
 float: right;
 width: 100%;
 margin: 0 25px 10px 0;
}
.register .form-item h2 {
  margin-bottom: 35px;
}
.register .form-item:last-child {
  margin: 35px 0 12px;
}
.register .login .section {
  padding: 30px 43px;
}
/* css3 Animation effects */
.enter-up-bounce {
  -webkit-animation: enterUpBounce 1s linear;
  -moz-animation: enterUpBounce 1s linear;
  -ms-animation: enterUpBounce 1s linear;
  -o-animation: enterUpBounce 1s linear;
  animation: enterUpBounce 1s linear;
  opacity: 1!important;
  display: block;
}
/* .enter-down-bounce {
  -webkit-animation: enterDownBounce 1s linear;
  -moz-animation: enterDownBounce 1s linear;
  -ms-animation: enterDownBounce 1s linear;
  -o-animation: enterDownBounce 1s linear;
  animation: enterDownBounce 1s linear;
  opacity: 1!important;
} */
.enter-left-bounce {
  -webkit-animation: enterLeftBounce 1s linear;
  -moz-animation: enterLeftBounce 1s linear;
  -ms-animation: enterLeftBounce 1s linear;
  -o-animation: enterLeftBounce 1s linear;
  animation: enterLeftBounce 1s linear;
  opacity: 1!important;
}
/* .enter-right-bounce {
  -webkit-animation: enterRightBounce 1s linear;
  -moz-animation: enterRightBounce 1s linear;
  -ms-animation: enterRightBounce 1s linear;
  -o-animation: enterRightBounce 1s linear;
  animation: enterRightBounce 1s linear;
  opacity: 1!important;
} */
.journal {
  -webkit-animation: journal 1 4s ease-in;
  -o-animation: journal 1 4s ease-in;
  -moz-animation: journal 1 4s ease-in;
  -ms-animation: journal 1 4s ease-in;
  animation: journal 1 4s ease-in;
  opacity: 1!important;
}
/* journal */
@-webkit-keyframes journal {
  0%{-webkit-transform: scale(0) rotate(-360deg);}
  80% {-webkit-transform: scale(0.5) rotate(-180deg);}
  100% {-webkit-transform: scale(1) rotate(0);}
}
@-moz-keyframes journal {
  0%{-moz-transform: scale(0) rotate(-360deg);}
  80% {-moz-transform: scale(0.5) rotate(-180deg);}
  100% {-moz-transform: scale(1) rotate(0);}
}
@-ms-keyframes journal {
  0%{-ms-transform: scale(0) rotate(-360deg);}
  80% {-ms-transform: scale(0.5) rotate(-180deg);}
  100% {-ms-transform: scale(1) rotate(0);}
}
@-o-keyframes journal {
  0%{-o-transform: scale(0) rotate(-360deg);}
  80% {-o-transform: scale(0.5) rotate(-180deg);}
  100% {-o-transform: scale(1) rotate(0);}
}@keyframes journal {
  0%{transform: scale(0) rotate(-360deg);}
  80% {transform: scale(0.5) rotate(-180deg);}
  100% {transform: scale(1) rotate(0);}
}
/* ENTER RIGHT BOUNCE */
/* @-webkit-keyframes enterRightBounce {
  0% {
    -webkit-transform:translateX(220px);  opacity: 0;
  }50%{
    -webkit-transform:translateX(0px); 
  }70%{-webkit-transform:translateX(8px); }
  
  100%{
    -webkit-transform:translateX(0);  opacity: 1;
  }
}
@-moz-keyframes enterRightBounce {
  0% {
    -moz-transform:translateX(220px);  opacity: 0;
  }50%{
    -moz-transform:translateX(0px); 
  }70%{-moz-transform:translateX(8px); }
  
  100%{
    -moz-transform:translateX(0);  opacity: 1;
  }
}
@-o-keyframes enterRightBounce {
  0% {
    -o-transform:translateX(220px);  opacity: 0;
  }50%{
    -o-transform:translateX(0px); 
  }70%{-o-transform:translateX(8px); }
  
  100%{
    -o-transform:translateX(0);  opacity: 1;
  }
}
@-ms-keyframes enterRightBounce {
  0% {
    -ms-transform:translateX(220px);  opacity: 0;
  }50%{
    -ms-transform:translateX(0px); 
  }70%{-ms-transform:translateX(8px); }
  
  100%{
    -ms-transform:translateX(0);  opacity: 1;
  }
}
@keyframes enterRightBounce {
  0% {
    transform:translateX(220px);  opacity: 0;
  }50%{
    transform:translateX(0px); 
  }70%{transform:translateX(8px); }
  
  100%{
    transform:translateX(0);  opacity: 1;
  }
}
 */
/* ENTER LEFT BOUNCE */
@-webkit-keyframes enterLeftBounce {
  0% {
    -webkit-transform:translateX(-220px);  opacity: 0;
  }50%{
    -webkit-transform:translateX(0px); 
  }70%{-webkit-transform:translateX(-8px); }
  
  100%{
    -webkit-transform:translateX(0);  opacity: 1;
  }
}
@-moz-keyframes enterLeftBounce {
  0% {
    -moz-transform:translateX(-220px);  opacity: 0;
  }50%{
    -moz-transform:translateX(0px); 
  }70%{-moz-transform:translateX(-8px); }
  
  100%{
    -moz-transform:translateX(0);  opacity: 1;
  }
}
@-o-keyframes enterLeftBounce {
  0% {
    -o-transform:translateX(-220px);  opacity: 0;
  }50%{
    -o-transform:translateX(0px); 
  }70%{-o-transform:translateX(-8px); }
  
  100%{
    -o-transform:translateX(0);  opacity: 1;
  }
}
@-ms-keyframes enterLeftBounce {
  0% {
    -ms-transform:translateX(-220px);  opacity: 0;
  }50%{
    -ms-transform:translateX(0px); 
  }70%{-ms-transform:translateX(-8px); }
  
  100%{
    -ms-transform:translateX(0);  opacity: 1;
  }
}
@keyframes enterLeftBounce {
  0% {
    transform:translateX(-220px);  opacity: 0;
  }50%{
    transform:translateX(0px); 
  }70%{transform:translateX(-8px); }
  
  100%{
    transform:translateX(0);  opacity: 1;
  }
}
/* ENTER UP BOUNCE */
@-webkit-keyframes enterUpBounce {
  0% {
    -webkit-transform:translateY(220px);  opacity: 0;
  }50%{
    -webkit-transform:translateY(0px); 
  }70%{-webkit-transform:translateY(20px); }
  
  100%{
    -webkit-transform:translateY(0);  opacity: 1;
  }
}
@-moz-keyframes enterUpBounce {
  0% {
    -moz-transform:translateY(220px);  opacity: 0;
  }50%{
    -moz-transform:translateY(0px); 
  }70%{-moz-transform:translateY(20px); }
  
  100%{
    -moz-transform:translateY(0);  opacity: 1;
  }
}
@-o-keyframes enterUpBounce {
  0% {
    -o-transform:translateY(220px);  opacity: 0;
  }50%{
    -o-transform:translateY(0px); 
  }70%{-o-transform:translateY(20px); }
  
  100%{
    -o-transform:translateY(0);  opacity: 1;
  }
}
@-ms-keyframes enterUpBounce {
  0% {
    -ms-transform:translateY(220px);  opacity: 0;
  }50%{
    -ms-transform:translateY(0px); 
  }70%{-ms-transform:translateY(20px); }
  
  100%{
    -ms-transform:translateY(0);  opacity: 1;
  }
}
@keyframes enterUpBounce {
  0% {
    transform:translateY(220px);  opacity: 0;
  }50%{
    transform:translateY(0px); 
  }70%{transform:translateY(20px); }
  
  100%{
    transform:translateY(0);  opacity: 1;
  }
}


/* ENTER DOWN BOUNCE */
/* @-webkit-keyframes enterDownBounce {
  0% {
    -webkit-transform:translateY(-220px);  opacity: 0;
  }50%{
    -webkit-transform:translateY(0px); 
  }70%{-webkit-transform:translateY(-20px); }
  
  100%{
    -webkit-transform:translateY(0);  opacity: 1;
  }
}
@-moz-keyframes enterDownBounce {
  0% {
    -moz-transform:translateY(-220px);  opacity: 0;
  }50%{
    -moz-transform:translateY(0px); 
  }70%{-moz-transform:translateY(-20px); }
  
  100%{
    -moz-transform:translateY(0);  opacity: 1;
  }
}
@-ms-keyframes enterDownBounce {
  0% {
    -ms-transform:translateY(-220px);  opacity: 0;
  }50%{
    -ms-transform:translateY(0px); 
  }70%{-ms-transform:translateY(-20px); }
  
  100%{
    -ms-transform:translateY(0);  opacity: 1;
  }
}
@-o-keyframes enterDownBounce {
  0% {
    -o-transform:translateY(-220px);  opacity: 0;
  }50%{
    -o-transform:translateY(0px); 
  }70%{-o-transform:translateY(-20px); }
  
  100%{
    -o-transform:translateY(0);  opacity: 1;
  }
}
@keyframes enterDownBounce {
  0% {
    transform:translateY(-220px);  opacity: 0;
  }50%{
    transform:translateY(0px); 
  }70%{transform:translateY(-20px); }
  
  100%{
    transform:translateY(0);  opacity: 1;
  }
}
 */