.content{
	height: 520px;
	background: url(../images/content_bg.jpg) no-repeat center bottom;
	background-size: cover;
	text-align: center;
	color: #fff;
}
.password{
	position: relative;
	width: 500px;
	margin: 0 auto;
	background: #fafafa;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
	height: 350px;
	top: 70px;
}
.tab-con{
	margin: 50px 100px;
	float: left;
	border-radius: 4px;
	box-shadow: none;
	border: none;
}
.input-tips{
	color: #333;
	float:left;
	margin-top:10px;
	width:70px;
	height:42px;
	font-size:16px;
	line-height:42px;
	text-align: right;
	padding-right: 10px;
}
.input-box{
	width:200px;
	height: 42px;
	margin: 10px 0;
	float: left;
}
.inputstyle{
	width: 200px;
	height:38px;
	padding-left:5px;
	line-height:38px;
	border:1px solid #D7D7D7;
	background:#fafafa;
	color:#333;
	border-radius:2px;
	font-family:Verdana, Tahoma, Arial;
	font-size:16px;
	outline: 0;
}
.button-blue{
	margin: -35px 0 0px 175px;
	float:left;
	height:41px;
	border-radius:4px;
	background:#2795dc;
	border:none;
	cursor:pointer;
	border-bottom:3px solid #0078b3;
	color:#fff;
	font-size:16px;
	width:210px;
	text-align:center;
	outline:none;
}
.button-blue:hover{
	background:#0081c1;
	border-bottom:3px solid #006698;
	color:#fff;
	text-decoration:none;
}
.close-btn{
	display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(../images/close2.png)no-repeat center;
}