body {
	overflow: hidden;
	background: url(/images/index_title_bg.jpg) no-repeat center bottom fixed;
	background-size: cover;
}
.password {
	position: absolute;
	top: 28%;
	left: 33%;
	width: 500px;
	background: #fafafa;
	border-radius: 5px;
	border: 1px solid #c4c4c4;
}
.section {
	padding: 60px 100px 50px;
}
.form-item {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 35px;
  border-bottom: 1px solid #ececec;
 }
 .form-item:last-child {
 	margin-bottom: 0;
 }
.form-item .form-input {
  width: 300px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  background: #FAFAFA;
  margin: 3px 6px;
  letter-spacing: 1px;
  color: #7B96AB;
  border: none;
  outline: none;
  box-shadow: none;
}
.form-item .bot-bar {
  position: relative;
  height: 1px;
  width: 100%;
}
.bot-bar:before, .bot-bar:after {
  position: absolute;
  bottom: -1px;
  content: "";
  height: 1px;
  width: 0px;
  background-color: #5593C1;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
  transition: width ease-in-out .35s;
  -moz-transition: width ease-in-out .35s;
  -o-transition: width ease-in-out .35s;
  -webkit-transition: width ease-in-out .35s;
}
.bot-bar:before {left: 50%;}
.bot-bar:after {right: 50%;}
.form-item input:focus~.bot-bar:before {width: 50%;}
.form-item input:focus~.bot-bar:after {width: 50%;}
.revise-form-submit{
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.7);
}
.revise-form-submit #revise-btn {
  display: inline-block;
  width: 100%;
  height: 38px;
  line-height: 38px;
  background-color: #639BC6;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: none;
}
.revise-form-submit #revise-btn:hover {background-color: #1b76c5;}
.revise-prompt {
  position: relative;
  font-size: 15px;
  top: -28px;
  width: 100%;
  height: auto;
  text-align: center;
  color: red;
}